<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">System Setting</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.aspx">Laundry</a></li>
            <li class="active">System Setting</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-info">

    <div class="panel-heading" style="padding: 10px 0 30px 10px !important;">
        <div class="col-md-6">
            Gmail Connectivity
        </div>

    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="form-material " style="width: 100%">
                <div class="form-group col-md-3">
                    <label class="control-label">Email Address</label>
                    <input type="text" id="emailad" class="form-control" placeholder="Email Address" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Password</label>
                    <input type="text" id="pasword" class="form-control" placeholder="Password" />
                </div>

            </div>
        </div>
    </div>

</div>
<div class="panel panel-info">

    <div class="panel-heading" style="padding: 10px 0 30px 10px !important;">
        <div class="col-md-6">
            System Settings
        </div>

    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="form-material " style="width: 100%">
                <div class="form-group col-md-3">
                    <label class="control-label">System Name</label>
                    <input type="text" id="sysName" class="form-control" placeholder="System Name" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Telephone No</label>
                    <input type="text" id="teleno" class="form-control" placeholder="Telephone No" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Mobile NO</label>
                    <input type="text" id="mobile" class="form-control" placeholder="Mobile No" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">System Logo</label>
                    <select class="form-control">
                        <option value="">Enabled</option>
                        <option value="">Disabled</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="input-file-now">Select Logo</label>
                    <input type="file" id="input-file-now" class="dropify" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Current Logo</label>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">

            @*<%-- <h3 class="box-title">Basic Information</h3>--%>*@
            <div class="form-material form-inline" style="width: 100%">

                <div class="form-group col-md-3">
                    <label></label>
                    <div class="m-l-10">
                        <i class="btn btn-info waves-effect waves-light  waves-input-wrapper" style="">
                            <button type="button" id="btnSystemSettingUpdate" class="waves-button-input">Update</button>
                        </i>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
