@{
    ViewBag.Title = "Expense Master";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    var jsonExpenseDetails = {};
    function SaveExpense() {
        jsonExpenseDetails.ItemName = $('#txtexname').val();
        jsonExpenseDetails.Status = $('#ddlstatus').val();
    }

    $(document).on('click', '#btnSaveExpenseMaster', function () {
        if (ValidateExpense() == true) {
            SaveExpense();
            $.ajax({
                type: "POST",
                async: false,
                url: "InsertExpenseMaster",
                data: { ExpenseMasterModel: JSON.stringify(jsonExpenseDetails) },
                success: function (msg) {
                    alert("Data Save Successfully");
                    BindExpenseMasterList();
                    Clear();
                },
                error: function () { alert('error'); }
            });
        }
    });
    $(document).ready(function () {
        $('#btnUpdateExpense').hide();
        BindExpenseMasterList();
    });
    function BindExpenseMasterList()
    {
        $.ajax({
            url: "GetExpenseMasterDetail",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var tr;
                var jsonObj = JSON.parse(data);
                $.each(jsonObj, function (key, item) {
                    tr += '<tr>';
                    tr += '<td>' + item.ItemName + '</td>';
                    if (item.Status == 1) {
                        item.Status = "Active";
                    }
                    else if (item.Status == 2) {
                        item.Status = "InActive";
                    }
                    tr += ("<td>" + item.Status + "</td>");
                    tr += ("<td><a><i class='fa fa-edit fa-2x' onclick='ExpenseMasterByID(" + item.ExpenseItemID + ")' ></i></a><a><i class='ti-trash fa-2x' onclick='ExpenseDelete(" + item.ExpenseItemID + ")' ></i></a></td>");
                    tr += '</tr>';
                });
                $('#tblExpensebody').html(tr);
            },
            error: function (msg) { alert(msg); }
        });
    }
    function ExpenseMasterByID(id) {
        $('#btnUpdateExpense').show();
        $('#btnSaveExpense').hide();
        $.ajax({
            type: "POST",
            url: "GetExpenseMasterDetailById",
            data: { ID: id },
            success: function (data) {
                var jsonObj = JSON.parse(data);
                $('#hdnExpenseItemID').val(jsonObj[0].ExpenseItemID);
                $('#txtexname').val(jsonObj[0].ItemName);
                $('#ddlstatus').val(jsonObj[0].Status);
            },
            error: function () { alert('error'); }
        });

    }
    $(document).on('click', '#btnUpdateExpenseMaster', function () {
        if (ValidateExpense() == true) {
            jsonExpenseDetails.ExpenseItemID = $('#hdnExpenseItemID').val();
            SaveExpense();
            $.ajax({
                type: "POST",
                async: false,
                url: "UpdateExpenseMaster",
                data: { ExpenseMasterModel: JSON.stringify(jsonExpenseDetails) },
                success: function (msg) {
                    alert("Data Update Successfully");
                    $('#btnSaveExpense').show();
                    $('#btnUpdateExpense').hide();
                    BindExpenseMasterList();
                    Clear();
                },
                error: function () { alert('error'); }
            });
        }
    });
    
    function ExpenseDelete(id) {
        $.ajax({
            type: "POST",
            url: "DeleteExpenseMaster",
            data: { ID: id },
            success: function (data) {
                BindExpenseMasterList();
            },
            error: function () { alert('error'); }
        });

    }
    function ValidateExpense() {
        if ($("#txtexname").val() == '') {
            alert('Please enter expense name');
            return false;
        }

        return true;

    }
    function Clear() {
        $('#txtexname').val('');
    }
</script>
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Expense Item Master</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.aspx">Laundry</a></li>
            <li class="active">Expense Item Master</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">

            @*<%-- <h3 class="box-title">Basic Information</h3>--%>*@
            <div class="form-material form-inline" style="width: 100%">
                <input type="hidden" id="hdnExpenseItemID">
                <div class="form-group col-md-3">
                    <label for="example-text">Name</label>
                    <div>
                        <input type="text" id="txtexname" Width="100%" class="form-control" placeholder="Enter Name" />
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label>Status</label>
                    <div>
                        <select class="form-control" id="ddlstatus" class="form-control" Width="100%">
                            <option value="1">Active</option>
                            <option value="2">InActive</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label></label>
                    <div class="m-l-10 m-t-5">
                        <i class="btn btn-info waves-effect waves-light  waves-input-wrapper" id="btnSaveExpense">
                            <button type="button" id="btnSaveExpenseMaster" class="waves-button-input">Save</button>
                        </i>
                        <i class="btn btn-info waves-effect waves-light  waves-input-wrapper" style="" id="btnUpdateExpense">
                            <button type="button" id="btnUpdateExpenseMaster" class="waves-button-input">Update</button>
                        </i>
                       
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
<div class="panel panel-info">

    <div class="panel-heading" style="padding: 0 0 10px 10px !important;">
        <div role="search" class="app-search " style="width: 24%">
            <input type="text" placeholder="Filter by Name or Contact..." class="form-control">
            <a href="#"><i class="fa fa-search"></i></a>
        </div>
        @*<%-- <div class="pull-right">
            <a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a><a href="#" data-perform="panel-dismiss"><i class="ti-close"></i></a>

        </div>--%>*@
    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="form-material " style="width: 100%">
                <div class="form-group col-md-3">
                </div>
                <div class="form-group col-md-12">
                    <div class="table-responsive">
                        <table id="tblExpense" class="table">
                            <thead>
                                <tr>
                                    <th><label>Name</label></th>
                                    <th><label>Status</label></th>
                                    <th><label>Action</label></th>
                                </tr>
                            </thead>
                            <tbody id="tblExpensebody"></tbody>
                        </table>
                        @*<table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>
                                        <label>Action</label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="CheckBox1">
                                    </td>
                                    <td>Electricity</td>
                                    <td>Active</td>
                                    <td><i class="fa fa-edit fa-2x"></i><i class="fa fa-search fa-2x m-l-10"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="CheckBox2">
                                    </td>
                                    <td>Electricity</td>
                                    <td>Active</td>
                                    <td><i class="fa fa-edit fa-2x"></i><i class="fa fa-search fa-2x m-l-10"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="CheckBox3">
                                    </td>
                                    <td>Electricity</td>
                                    <td>Active</td>
                                    <td><i class="fa fa-edit fa-2x"></i><i class="fa fa-search fa-2x m-l-10"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="CheckBox4">
                                    </td>
                                    <td>Electricity</td>
                                    <td>Active</td>
                                    <td><i class="fa fa-edit fa-2x"></i><i class="fa fa-search fa-2x m-l-10"></i></td>
                                </tr>

                            </tbody>
                        </table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
