LaundaryManagement/packages/
Laundry/Laundry/IntegrationAPI/packages/
Laundry/Laundry/IntegrationAPI/IntegrationAPI/obj/
Laundry/Laundry/IntegrationAPI/Integration_Repository/obj/
Laundry/Laundry/IntegrationAPI/Integration_UnitTest/bin/
