<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">POS Setting</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.aspx">Laundry</a></li>
            <li class="active">POS Setting</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-info">

    <div class="panel-heading" style="padding: 10px 0 30px 10px !important;">
        <div class="col-md-6">
            POS Settings
        </div>

    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="form-material " style="width: 100%">

                <div class="form-group col-md-3">
                    <label class="control-label">Local Item Name</label>
                    <select class="form-control" data-placeholder="Choose a Local Name" tabindex="1">
                        <option value="enable">Enable</option>
                        <option value="disable">Disabled</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Items List Order</label>
                    <select class="form-control" data-placeholder="Choose a List Order" tabindex="1">
                        <option value="enable">Alphabetical</option>
                        <option value="disable">Disabled</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Default Delivery Date</label>
                    <input type="text" id="defaultdate" class="form-control" placeholder="1">
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Default Hangur Rate</label>
                    <input type="text" id="hangurrate" class="form-control" placeholder="0.000">
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Max Discount Percentage</label>
                    <input type="text" id="discountpercent" class="form-control" placeholder="0.000">
                </div>
                <div class="form-group col-md-5">
                    <label class="control-label">Bill No Reset</label>
                    <div class="radio-list">
                        <label class="radio-inline p-0">
                            <div class="radio radio-info">
                                <input type="radio" name="radio" id="radio1" value="option1" />
                                <label for="radio1">Daily</label>
                            </div>
                        </label>
                        <label class="radio-inline">
                            <div class="radio radio-info">
                                <input type="radio" name="radio" id="radio2" value="option2" />
                                <label for="radio2">Monthly</label>
                            </div>
                        </label>
                        <label class="radio-inline">
                            <div class="radio radio-info">
                                <input type="radio" name="radio" id="radio3" value="option3" />
                                <label for="radio2">Yearly</label>
                            </div>
                        </label>
                        <label class="radio-inline">
                            <div class="radio radio-info">
                                <input type="radio" name="radio" id="radio4" value="option4" />
                                <label for="radio2">Continuous</label>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="panel panel-info">

    <div class="panel-heading" style="padding: 10px 0 30px 10px !important;">
        <div class="col-md-6">
            POS Bill Print Settings
        </div>

    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="form-material " style="width: 100%">
                <div class="form-group col-md-3">
                    <label class="control-label">Local Item Name</label>
                    <select class="form-control" data-placeholder="Choose a Local Name" tabindex="1">
                        <option value="enable">Enable</option>
                        <option value="disable">Disabled</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">System Logo</label>
                    <select class="form-control" data-placeholder="Choose a System Logo" tabindex="1">
                        <option value="enable">Enable</option>
                        <option value="disable">Disabled</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Print Holidays</label>
                    <input type="text" id="holidays" class="form-control" placeholder="Print holidays" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Message End of Bill</label>
                    <input type="text" id="msgofbill" class="form-control" placeholder="message end of bill" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">T & C (English)</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">T & C (Local Language)</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">

            @*<%-- <h3 class="box-title">Basic Information</h3>--%>*@
            <div class="form-material form-inline" style="width: 100%">

                <div class="form-group col-md-3">
                    <label></label>
                    <div class="m-l-10">
                        <i class="btn btn-info waves-effect waves-light  waves-input-wrapper" style="">
                            <button type="button" id="btnPOSSettingUpdate" class="waves-button-input">Update</button>
                        </i>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
