<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">System Reset</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.aspx">Laundry</a></li>
            <li class="active">System Reset</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="panel panel-info">

    <div class="panel-heading" style="padding: 10px 0 30px 10px !important;">
        <div class="col-md-6">
            Masters
        </div>

    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="form-material " style="width: 100%">
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Items</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Groups</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Customers</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Suppliers</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Purchase Items</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Expense Items</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Users</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Office Branch</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>SMS Master</label>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="panel panel-info">

    <div class="panel-heading" style="padding: 10px 0 30px 10px !important;">
        <div class="col-md-6">
            Transactions
        </div>

    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="form-material " style="width: 100%">
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>POS Transactions</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>POS Bill Count</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Purchases</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Expenses</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Office Branch Sales</label>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="panel panel-info">

    <div class="panel-heading" style="padding: 10px 0 30px 10px !important;">
        <div class="col-md-6">
            Settings
        </div>

    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="form-material " style="width: 100%">
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>POS Transactions</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>POS Bill Count</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Purchases</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Expenses</label>
                </div>
                <div class="form-group col-md-2">
                    <input type="checkbox" id="CheckBox5"><label>Office Branch Sales</label>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="panel panel-info">

    <div class="panel-heading" style="padding: 10px 0 30px 10px !important;">
        <div class="col-md-6">
            Full Reset
        </div>

    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="form-material " style="width: 100%">
                <div class="form-group col-md-4">
                    <input type="checkbox" id="CheckBox5"><label>Data Reset (All Data except System Settings)</label>
                </div>
                <div class="form-group col-md-4">
                    <input type="checkbox" id="CheckBox5"><label>Factory Reset</label>
                </div>


            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="white-box">

            @*<%-- <h3 class="box-title">Basic Information</h3>--%>*@
            <div class="form-material form-inline" style="width: 100%">

                <div class="form-group col-md-3">
                    <label></label>
                    <div class="m-l-10 m-t-1">
                        <i class="btn btn-info waves-effect waves-light  waves-input-wrapper" style="">
                            <button type="button" id="btnSystemResetUpdate" class="waves-button-input">Update</button>
                        </i>
                    </div>
                </div>
                <div class="form-group col-md-9">
                    <label>
                        <h3>* Notice:</h3>
                        Your data will be lost if reset process got failed and it can not be restored.

                        Therefore take backup before reset process begins.
                    </label>

                </div>
            </div>

        </div>

    </div>

</div>
