<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">My Profile</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="~/Home/index">Laundry</a></li>
            <li class="active">My Profile</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">

            @*<%-- <h3 class="box-title">Basic Information</h3>--%>*@
            <div class="form-material form-inline" style="width: 100%">

                <div class="form-group col-md-4">
                    <label>User Name</label>
                    <div>
                        <input type="text" style="width:100%" id="example-text1" name="example-text" class="form-control" placeholder="enter your user name" />
                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label>First Name</label>
                    <div>
                        <input type="text" style="width:100%" id="example-text2" name="example-text" class="form-control" placeholder="enter your First name" />
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Last Name</label>
                    <div>
                        <input type="text" style="width:100%" id="example-text3" name="example-text" class="form-control" placeholder="enter your Last name" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label>Email</label>
                    <div>
                        <input type="text" style="width:100%" id="example-text4" name="example-text" class="form-control" placeholder="enter your Email" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label>Civil No</label>
                    <div>
                        <input type="text" style="width:100%" id="example-text5" name="example-text" class="form-control" placeholder="enter your civil no" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label>Contact No</label>
                    <div>
                        <input type="text" style="width:100%" id="example-text6" name="example-text" class="form-control" placeholder="enter your contact no" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label>Status</label>
                    <div>
                        <input type="text" style="width:100%" id="example-text7" name="example-text" class="form-control" placeholder="enter your status" />
                    </div>
                </div>
                
                
                <div class="form-group col-md-4">
                    <label></label>
                    <div class="m-l-10 m-t-5">
                        <i class="btn btn-info waves-effect waves-light  waves-input-wrapper" style="">
                            <button type="button" id="btnSaveUser" class="waves-button-input">Save</button>
                        </i>
                        <i class="btn btn-info waves-effect waves-light  waves-input-wrapper" style="">
                            <button type="button" id="btnDeleteUser" class="waves-button-input">Delete</button>
                        </i>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
