@{
    ViewBag.Title = "Office Branch Master";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    var jsonOfficebranchDetails = {};
    function SaveOfficeBranch() {
        jsonOfficebranchDetails.BranchName = $('#txtname').val();
        jsonOfficebranchDetails.CivilNumber = $('#txtcivilno').val();
        jsonOfficebranchDetails.Email = $('#txtEmail').val();
        jsonOfficebranchDetails.Address = $('#txtaddress').val();
        jsonOfficebranchDetails.Contact = $('#txtcontact').val();
    }

    $(document).on('click', '#btnSaveOfficeBranch', function () {
        if (ValidateOfficeBranch() == true) {
            SaveOfficeBranch();
            $.ajax({
                type: "POST",
                async: false,
                url: "InsertOfficeBranch",
                data: { OfficeBranchModel: JSON.stringify(jsonOfficebranchDetails) },
                success: function (msg) {
                    alert("Data Save Successfully");
                    BindOfficeBranchList();
                    Clear();
                },
                error: function () { alert('error'); }
            });
        }
    });
    $(document).ready(function () {
        $('#btnUpdateOffice').hide();
        BindOfficeBranchList();
    });
    function BindOfficeBranchList()
    {
        $.ajax({
            url: "GetOfficeBranchDetail",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var tr;
                var jsonObj = JSON.parse(data);
                $.each(jsonObj, function (key, item) {
                    tr += '<tr>';
                    tr += '<td>' + item.BranchName + '</td>';
                    tr += '<td>' + item.CivilNumber + '</td>';
                    tr += '<td>' + item.Email + '</td>';
                    tr += '<td>' + item.Address + '</td>';
                    tr += '<td>' + item.Contact + '</td>';
                    tr += ("<td><a><i class='fa fa-edit fa-2x' onclick='OfficebranchByID(" + item.OfficeBranchID + ")' ></i></a><a><i class='ti-trash fa-2x' onclick='OfficeBranchDelete(" + item.OfficeBranchID + ")' ></i></a></td>");
                    tr += '</tr>';
                });
                $('#tblOfficeBranchbody').html(tr);
             
            },
            error: function (msg) { alert(msg); }
        });
    }

    function OfficebranchByID(id) {
        $('#btnUpdateOffice').show();
        $('#btnSaveOffice').hide();
        $.ajax({
            type: "POST",
            url: "GetOfficeBranchDetailById",
            data: { ID: id },
            success: function (data) {
                var jsonObj = JSON.parse(data);
                $('#hdnOfficeBranchID').val(jsonObj[0].OfficeBranchID);
                $('#txtname').val(jsonObj[0].BranchName);
                $('#txtcivilno').val(jsonObj[0].CivilNumber);
                $('#txtEmail').val(jsonObj[0].Email);
                $('#txtaddress').val(jsonObj[0].Address);
                $('#txtcontact').val(jsonObj[0].Contact);
            },
            error: function () { alert('error'); }
        });

    }

    $(document).on('click', '#btnUpdateOfficeBranch', function () {

        if (ValidateOfficeBranch() == true) {
            jsonOfficebranchDetails.OfficeBranchID = $('#hdnOfficeBranchID').val();
            SaveOfficeBranch();
            $.ajax({
                type: "POST",
                async: false,
                url: "UpdateOfficeBranch",
                data: { OfficeBranchModel: JSON.stringify(jsonOfficebranchDetails) },
                success: function (msg) {
                    alert("Data Update Successfully");
                    $('#btnSaveOffice').show();
                    $('#btnUpdateOffice').hide();
                    BindOfficeBranchList();
                    Clear();
                },
                error: function () { alert('error'); }
            });
        }
    });
    function OfficeBranchDelete(id) {
        $.ajax({
            type: "POST",
            url: "DeleteOfficeBranch",
            data: { ID: id },
            success: function (data) {
                BindOfficeBranchList();
            },
            error: function () { alert('error'); }
        });

    }
    function ValidateOfficeBranch() {
        if ($("#txtname").val() == '') {
            alert('Please enter name');
            return false;
        }
        if ($("#txtcontact").val() == '') {
            alert('Please enter contact');
            return false;
        }
        return true;

    }

    function Clear() {
       $('#txtname').val('');
       $('#txtcivilno').val('');
       $('#txtEmail').val('');
       $('#txtaddress').val('');
       $('#txtcontact').val('');
    }
</script>
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Office Branch Master</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="~/Home/index">Laundry</a></li>
            <li class="active">Office Branch Master</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">

            @*<%-- <h3 class="box-title">Basic Information</h3>--%>*@
            <div class="form-material form-inline" style="width:100%">
                <input type="hidden" id="hdnOfficeBranchID">
                <div class="form-group col-md-3">
                    <label for="example-text">Name</label>
                    <div>
                        <input type="text" id="txtname" Width="100%" class="form-control" placeholder="Enter Branch Name" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label>Civil No</label>
                    <div>
                        <input type="text" id="txtcivilno" Width="100%" class="form-control" placeholder="Enter Civil No" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label>Email</label>
                    <div>
                        <input type="text" id="txtEmail" Width="100%" class="form-control" placeholder="Enter Email" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label>Contact</label>
                    <div>
                        <input type="text" id="txtcontact" Width="100%" class="form-control" placeholder="Enter Contact" />
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label>Address</label>
                    <div>
                        <textarea name="address" rows="2" cols="20" id="txtaddress" class="form-control" placeholder="Enter Address" style="height:70px;width:100%;"></textarea>
                    </div>
                </div>

                @*<%--  <div class="form-group col-md-3">
                    <label>Status</label>
                    <div>
                        <asp:DropDownList ID="ddlstatus" class="form-control" Width="100%" runat="server">
                            <asp:ListItem Value="2">----Select Status---</asp:ListItem>
                            <asp:ListItem Value="1">Active</asp:ListItem>
                            <asp:ListItem Value="0">In Active</asp:ListItem>
                        </asp:DropDownList>
                    </div>
                </div>--%>*@
                <div class="form-group col-md-3">
                    <label></label>
                    <div class="m-l-10 m-t-5">
                        <i class="btn btn-info waves-effect waves-light  waves-input-wrapper" id="btnSaveOffice">
                            <button type="button" id="btnSaveOfficeBranch" class="waves-button-input">Save</button>
                        </i>
                        <i class="btn btn-info waves-effect waves-light  waves-input-wrapper" style="" id="btnUpdateOffice">
                            <button type="button" id="btnUpdateOfficeBranch" class="waves-button-input">Update</button>
                        </i>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<div class="panel panel-info">
    <div class="panel-heading" style="padding: 0 0 10px 10px !important;">
        <div role="search" class="app-search " style="width:24%">
            <input type="text" placeholder="Filter by Name or Contact..." class="form-control">
            <a href="#"><i class="fa fa-search"></i></a>
        </div>
        @*<%-- <div class="pull-right">
            <a href="#" data-perform="panel-collapse"><i class="ti-minus"></i></a><a href="#" data-perform="panel-dismiss"><i class="ti-close"></i></a>

        </div>--%>*@
    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="form-material " style="width:100%">

                <div class="form-group col-md-12">
                    <div class="table-responsive">
                        <table id="tblOfficeBranch" class="table">
                            <thead>
                                <tr>
                                    <th><label>Branch Name</label></th>
                                    <th><label>Civil No</label></th>
                                    <th><label>Email</label></th>
                                    <th><label>Address</label></th>
                                    <th><label>Contact</label></th>
                                    <th><label>Action</label></th>
                                </tr>
                            </thead>
                            <tbody id="tblOfficeBranchbody"></tbody>
                        </table>
                        @*<table class="table">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="CheckBox1"></th>
                                    <th><label>Name</label></th>
                                    <th><label>Civil No</label></th>
                                    <th><label>Email</label></th>
                                    <th><label>Contact</label></th>
                                    <th><label>Action</label></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" id="CheckBox1"></td>
                                    <td>Supplier1</td>
                                    <td>12345</td>
                                    <td>urvish@gmail.com</td>
                                    <td>88888888</td>
                                    <td><i class="fa fa-edit fa-2x"></i><i class="fa fa-search fa-2x m-l-10"></i> </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="CheckBox1"></td>
                                    <td>Supplier1</td>
                                    <td>12345</td>
                                    <td>urvish@gmail.com</td>
                                    <td>88888888</td>
                                    <td><i class="fa fa-edit fa-2x"></i><i class="fa fa-search fa-2x m-l-10"></i> </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="CheckBox1"></td>
                                    <td>Supplier1</td>
                                    <td>12345</td>
                                    <td>urvish@gmail.com</td>
                                    <td>88888888</td>
                                    <td><i class="fa fa-edit fa-2x"></i><i class="fa fa-search fa-2x m-l-10"></i> </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="CheckBox1"></td>
                                    <td>Supplier1</td>
                                    <td>12345</td>
                                    <td>urvish@gmail.com</td>
                                    <td>88888888</td>
                                    <td><i class="fa fa-edit fa-2x"></i><i class="fa fa-search fa-2x m-l-10"></i> </td>
                                </tr>

                            </tbody>
                        </table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
