@{
    ViewBag.Title = "Home Page";
}

@*<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Dashboard</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.aspx">Laundry</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!--row -->
<div class="row">
    <div class="col-md-2 col-sm-6">
        <a href="#">
            <div class="white-box " style="background-color:#3f51b5">
                <div class="r-icon-stats text-center">
                    <div class="bodystate " style="padding-left:0px">
                        <h4 class="text-white">POS ENTRY</h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-6">
        <a href="#">
            <div class="white-box " style="background-color:#429745">
                <div class="r-icon-stats text-center">
                    <div class="bodystate " style="padding-left:0px">
                        <h4 class="text-white">CARPET ENTRY</h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-6">
        <a href="#">
            <div class="white-box " style="background-color:#e4ab00">
                <div class="r-icon-stats text-center">
                    <div class="bodystate " style="padding-left:0px">
                        <h4 class="text-white">PURCHASE INV.</h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-6">
        <a href="#">
            <div class="white-box " style="background-color:#ff5722">
                <div class="r-icon-stats text-center">
                    <div class="bodystate " style="padding-left:0px">
                        <h4 class="text-white">EXPENSE INV.</h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-6">
        <a href="#">
            <div class="white-box " style="background-color:#9c27b0">
                <div class="r-icon-stats text-center">
                    <div class="bodystate " style="padding-left:0px">
                        <h4 class="text-white">ITEM MASTER</h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-6">
        <a href="#">
            <div class="white-box " style="background-color:#00bcd4">
                <div class="r-icon-stats text-center">
                    <div class="bodystate " style="padding-left:0px">
                        <h4 class="text-white">CUSTOMER MASTER</h4>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<!--/row -->
<!--row -->
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-user bg-purple"></i>
                <div class="bodystate">
                    <h4>370</h4>
                    <span class="text-muted">Order Received</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-shopping-cart bg-info"></i>
                <div class="bodystate">
                    <h4>342</h4>
                    <span class="text-muted">Order Under Process</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-wallet bg-success"></i>
                <div class="bodystate">
                    <h4>13</h4>
                    <span class="text-muted">Order Completed</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-wallet bg-inverse"></i>
                <div class="bodystate">
                    <h4>$34650</h4>
                    <span class="text-muted">Order Delivered</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/row -->
<!--row -->
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-user bg-purple"></i>
                <div class="bodystate">
                    <h4>370</h4>
                    <span class="text-muted">Qty Received</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-shopping-cart bg-info"></i>
                <div class="bodystate">
                    <h4>342</h4>
                    <span class="text-muted">Qty Under Process</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-wallet bg-success"></i>
                <div class="bodystate">
                    <h4>13</h4>
                    <span class="text-muted">Qty Completed</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-wallet bg-inverse"></i>
                <div class="bodystate">
                    <h4>$34650</h4>
                    <span class="text-muted">Qty Delivered</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/row -->
<!--row -->
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-user bg-purple"></i>
                <div class="bodystate">
                    <h4>370</h4>
                    <span class="text-muted">Today's Collection</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-shopping-cart bg-info"></i>
                <div class="bodystate">
                    <h4>342</h4>
                    <span class="text-muted">Outstanding</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6">
        <div class="white-box">
            <div class="r-icon-stats">
                <i class="ti-wallet bg-success"></i>
                <div class="bodystate">
                    <h4>13</h4>
                    <span class="text-muted">Branch Sales</span>
                </div>
            </div>
        </div>
    </div>

</div>
<!--/row -->
<!-- /row -->
<div class="row">
    <div class="col-sm-6">
        <div class="white-box">
            <h3 class="box-title m-b-0">Latest POS Entry List</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Bill No.</th>
                            <th>Mobile No.</th>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Deshmukh</td>
                            <td>Prohaska</td>
                            <td>Genelia</td>
                            <td><span class="label label-danger">Fever</span> </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Deshmukh</td>
                            <td>Gaylord</td>
                            <td>Ritesh</td>
                            <td><span class="label label-info">Cancer</span> </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Sanghani</td>
                            <td>Gusikowski</td>
                            <td>Govinda</td>
                            <td><span class="label label-warning">Lakva</span> </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Roshan</td>
                            <td>Rogahn</td>
                            <td>Hritik</td>
                            <td><span class="label label-success">Dental</span> </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Joshi</td>
                            <td>Hickle</td>
                            <td>Maruti</td>
                            <td><span class="label label-info">Cancer</span> </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Nigam</td>
                            <td>Eichmann</td>
                            <td>Sonu</td>
                            <td><span class="label label-success">Dental</span> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="white-box">
            <h3 class="box-title m-b-0">Latest Carpet Invoice Entry List</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Bill No.</th>
                            <th>Mobile No.</th>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Deshmukh</td>
                            <td>Prohaska</td>
                            <td>Genelia</td>
                            <td><span class="label label-danger">Fever</span> </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Deshmukh</td>
                            <td>Gaylord</td>
                            <td>Ritesh</td>
                            <td><span class="label label-info">Cancer</span> </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Sanghani</td>
                            <td>Gusikowski</td>
                            <td>Govinda</td>
                            <td><span class="label label-warning">Lakva</span> </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Roshan</td>
                            <td>Rogahn</td>
                            <td>Hritik</td>
                            <td><span class="label label-success">Dental</span> </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Joshi</td>
                            <td>Hickle</td>
                            <td>Maruti</td>
                            <td><span class="label label-info">Cancer</span> </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Nigam</td>
                            <td>Eichmann</td>
                            <td>Sonu</td>
                            <td><span class="label label-success">Dental</span> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!--row -->
<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Monthly Business Sales Analysis</h3>

            <div id="morris-area-chart1" style="height: 370px;"></div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Yearly Business Sales Analysis</h3>

            <div id="morris-area-chart2" style="height: 370px;"></div>
        </div>
    </div>

</div>
<!-- row -->*@
