@{
    ViewBag.Title = "Item Wise Report";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        BindCustomer();
        BindGroups();
    });
    function BindCustomer() {
        $.ajax({
            url: "BindCustomer",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var jsonObj = JSON.parse(data);
                $("#ddlCustomer").empty();
                $("#ddlCustomer").append($("<option></option>").val('0').html('All Customers'));
                $.each(jsonObj, function (key, item) {
                    $("#ddlCustomer").append($("<option></option>").val(item.CustomerID).html(item.CustomerName + ' - ' + item.Contact));
                });
            }
        });
    }
    function BindGroups() {
        $.ajax({
            url: "BindGroup",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var jsonObj = JSON.parse(data);
                $("#ddlGroups").empty();
                $("#ddlGroups").append($("<option></option>").val('0').html('All Groups'));
                $.each(jsonObj, function (key, item) {
                    $("#ddlGroups").append($("<option></option>").val(item.GroupID).html(item.GroupName));
                });
            }
        });
    }
</script>

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Items Details</h4>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">

                @*<%-- <h3 class="box-title">Basic Information</h3>--%>*@
                <div class="form-material form-inline" style="width:100%">
                    <div class="form-group col-md-3">
                        <label for="example-text">From Date</label>
                        <div>
                            <input type="text" id="txtFromDate" Width="100%" class="form-control mydatepicker" placeholder="Enter Date" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="example-text">To Date</label>
                        <div>
                            <input type="text" id="txtTODate" Width="100%" class="form-control mydatepicker" placeholder="Enter Date" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="example-text">Time From</label>
                        <div>
                            <input type="Time" id="txtTimeFrom" Width="100%" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="example-text">Time To</label>
                        <div>
                            <input type="Time" id="txtTimeTo" Width="100%" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Items</label>
                        <div>
                            <select class="form-control" id="ddlItems" class="form-control" Width="100%">
                                <option value="0">All Items</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group col-md-3">
                        <label>Groups</label>
                        <div>
                            <select class="form-control" id="ddlGroups" class="form-control" Width="100%">
                                <option value="0">All Groups</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group col-md-3">
                        <label>Customer</label>
                        <div>
                            <select class="form-control" id="ddlCustomer" class="form-control" Width="100%">
                                <option value="0">All Customers</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group col-md-3">
                        <label>Type</label>
                        <div>
                            <select class="form-control" id="ddlType" class="form-control" Width="100%">
                                <option value="1">Regular,Contract</option>
                                <option value="2">Regular</option>
                                <option value="3">Contract</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group col-md-3">
                        <label>Status</label>
                        <div>
                            <select class="form-control" id="ddlStatus" class="form-control" Width="100%">
                                <option value="1">Unpaid-Paid & Partially Paid</option>
                                <option value="2">Unpaid</option>
                                <option value="3">Paid</option>
                                <option value="4">Partially Paid</option>
                            </select>
                        </div>

                    </div>

                    
                    <div class="form-group col-md-3">
                        <label></label>
                        <div class="m-l-10 m-t-5">
                            <i class="btn btn-info waves-effect waves-light  waves-input-wrapper">
                                <button type="button" id="btnSearchGroup" class="waves-button-input">Search</button>
                            </i>
                            <i class="btn btn-info waves-effect waves-light  waves-input-wrapper" style="">
                                <button type="button" id="btnCloseGroup" class="waves-button-input">Close</button>
                            </i>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>