<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">SMS Setting</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="index.aspx">Laundry</a></li>
            <li class="active">SMS Setting</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="panel panel-info">

    <div class="panel-heading" style="padding: 10px 0 30px 10px !important;">
        <div class="col-md-6">
            SMS Alerts Settings
        </div>

    </div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <div class="form-material " style="width: 100%">
                <div class="form-group col-md-3">
                    <label class="control-label">Account SID</label>
                    <input type="text" id="accSID" class="form-control" placeholder="Account SID" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Auth Token</label>
                    <input type="text" id="authtoken" class="form-control" placeholder="Auth Token" />
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Country Code </label>
                    <select class="form-control" data-placeholder="Choose a Country Code" tabindex="1">
                        <option value="enable">India(+91)</option>
                        <option value="disable">Oman(+968)</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Contact </label>
                    <input type="text" id="mobile" class="form-control" placeholder="Mobile No" />
                </div>
                <div class="form-group col-md-3">
                    <label></label>
                    <div class="m-l-10">
                        <i class="btn btn-info waves-effect waves-light  waves-input-wrapper" style="">
                            <button type="button" id="btnsmsSettingUpdate" class="waves-button-input">Update</button>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
